
 body {
      font-family: typewriter;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
      color: #333;
    }
    header {
      background-color: #4169E1;
      color: white;
      padding: 20px;
      text-align: center;
    }
    .container {
      max-width: 900px;
      margin: 20px auto;
 text-align: justify;

      padding: 20px;
      background: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    section {
      margin-bottom: 30px;
    }
    h2 {

      color: #4169E1;
    }
    footer {
      text-align: center;
      padding: 20px;
      background-color: #ddd;
    }

button {
    background-color: #4169E1;
    color:  #f4f4f4;
    padding: 10px 20px;
    font-size: 20px;
}
h3{font-size: 20px;}

button:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.social-bar {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #4169E1;
  padding: 10px;
  border-radius: 0 10px 10px 0;
}
.social-bar a {
  display: block;
  color: white;
  margin: 5px 0;
  text-decoration: none;
}
.skill-bar {
  background: #eee;
  border-radius: 20px;
  overflow: hidden;
  height: 20px;
}
.skill-bar .fill {
  background: #4169E1;
  height: 100%;
  text-align: right;
  padding-right: 5px;
  color: white;
  line-height: 20px;
  transition: width 1s ease-in-out;
}
#progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  background: #000000;
  width: 0%;
  z-index: 9999;
}

